*{
    margin:0;
    padding:0;
    font-family: "Ropa Sans", sans-serif;
}
.container{
    width: 100%;
    position: relative;
    margin-top: 40px;

    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    font-size: 20px;

}
.list-items{
    display: inline;
    margin: 0px 20px;

   
}
.links{
    text-decoration: none;
    color: black;
    font-weight:bold;
    margin-top: 40px;
}
button{
    background-color: black;
    color: white;
    
}
.name{
    font-family: "Oleo Script", system-ui;
    font-size: 60px;
}
.home-content{
    margin:70px 40px 40px 40px ;
    font-family: "Ropa Sans", sans-serif;
    font-size: 30px;
    
}
#lname{
    font-family:"Oleo Script", system-ui;
    line-height: 1.5;
    color: red;
}
.home-image{
    width: 45%;
    height: 79%;
    float: left;
    margin-left: 70px;
}
#shape{
    width: 600px;
    height: 450px;
    margin-top: 125px;
}
#girl{
    margin-top: -315px;
    margin-left: 112px;
}
